@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    scroll-behavior: smooth;
    font-family: 'Lato';
}

img{
    max-width: 100%;
    display: block;
}

.containerA{
    max-width: 1600px;
    margin: 0 auto;
}

.containerB{
    max-width: 1140px;
    margin: 0 auto;
}

.header{
    background-color: #222;
}

.navigation{
    padding-top: 18px;
    padding-bottom: 19px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logoNavigation{
    display: flex;
    gap: 42px;
}

.menuNavigation{
    display: flex;
    gap: 28px;
}

.headBtn{
    background: #222;
    border: none;
    cursor: pointer;
}

.slogan{
    background-color: #F1E4E6;
}

.sloganBlock{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 65px;
}

.stickAndText{
    border-left: 12px solid #F16D7F;
    padding-left: 16px;
    max-width: 410px;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    justify-content: flex-start;
}

.stickAndText h1{
    color: #222;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Lato;
    font-size: 48px;
    font-weight: 900;
}

.blackText{
    color: #222;
    font-family: Lato;
    font-size: 32px;
    font-weight: 700;
}

.pinckText{
    color: #F16D7F;
    font-family: Lato;
    font-size: 32px;
    font-weight: 700;
}

.contentCatalog{
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    position: relative;
    margin-bottom: 96px;  
}

.blockImgCatalog{
    position: relative;
}

.textCatalog{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.textCatalog p{
    color: #FFF;
    text-align: center;
    font-family: Lato;
    font-size: 16px;
    font-weight: 400;
}

.textCatalog h3{
    color: #F16D7F;
    font-family: Lato;
    font-size: 24px;
    font-weight: 700;
}

.backroundCatalog{
        background-size: cover;
        background-position: center;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
}

.textCatalogProduct{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 48px;
}

.textCatalogProduct h1{
    color: #222;
    font-family: Lato;
    font-size: 30px;
    font-weight: 400;
}

.textCatalogProduct p{
    color: #9F9F9F;
    font-family: Lato;
    font-size: 14px;
    font-weight: 400;
}

.catalogProductBlock{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin-bottom: 48px;
}

.productBlock{
    background: #F8F8F8;
    max-width: 360px;
    max-height: 581px;
}

.productText{
    max-width: 315px;
    padding: 24px 16px;
}

.productText h5{
    color: #000;
    font-family: Lato;
    font-size: 13px;
    font-weight: 400;
    margin-bottom: 16px;
}

.aboutText{
    color: #5D5D5D;
    font-family: Lato;
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 16px;
}

.price{
    color: #F16D7F;
    font-family: Lato;
    font-size: 16px;
    font-weight: 400;
}

.catalogProductBtn{
    display: flex;
    justify-content: center;
}

.productBtn{
    width: 212px;
    height: 48px;
    margin-bottom: 60px;
    background: none;
    border: 1px solid #F16D7F;
    cursor: pointer;
    color: #F26376;
    font-family: Lato;
    font-size: 16px;
    font-weight: 400;
    padding: 15px 30px;
}

/* под планшет */
@media (max-width: 1024px) and (min-width: 768px){
    .containerA{
        max-width: 1024;
    }
    
    .containerB{
        max-width: 740px;
    }

    .navigation{
        display: flex;
        justify-content: space-between;
    }

    .logoNavigation{
        display: flex;
        gap: 41px;
        padding-left: 32px;
    }

    .menuNavigation{
        display: flex;
        gap: 25px;
        padding-right: 18px;
    }

    .sloganBlock{
        gap: 30px;
        align-items: center;
    }

    .imgMen img{
        width: 386px;
        height: 368px;
    }

    .stickAndText{
        max-width: 310px;
    }

    .stickAndText h1{
        font-size: 44px;
    }
    
    .blackText{
        font-size: 24px;
    }
    
    .pinckText{
        font-size: 24px;
    }

    .contentCatalog{
        gap: 19px;
    }

    .imgBlock{
        max-width: 232px;
    }
    
    .backroundImg{
        max-width: 232px;
    }

    .bigImgBlock{
        max-width: 734px;
    }

    .backroundBigImg{
        max-width: 734px;
    }

    .catalogProductBlock{
        gap: 16px;
        align-items: center;
        display: flex;
        justify-content: center;
    }
}

/* под телефон */
@media (max-width: 767px){
    .containerA{
        max-width: 767px;
    }

    .containerB{
        max-width: 360px;
    }

    .hidden{
        display: none;
    }

    .navigation{
        display: flex;
        justify-content: space-between;
    }


    .logoNavigation{
        display: flex;
        gap: 41px;
        padding-left: 16px;
    }

    .menuNavigation{
        display: flex;
        gap: 25px;
        padding-right: 16px;
    }

    .slogan{
        min-height: 363px;
        margin-bottom: 64px;
    }

    .sloganBlock{
        padding-top: 148px;
        display: flex;
        align-items: center;
    }

    .stickAndText{
        min-width: 340px;
        display: flex;
        justify-content: flex-start;
        gap: 5px;
    }

    .stickAndText h1{
        font-size: 38px;
    }
    
    .blackText{
        font-size: 20px;
    }
    
    .pinckText{
        font-size: 20px;
    }

    .contentCatalog{
        gap: 32px;
        display: flex;
        align-items: center;
    }

    .imgBlock{
        width: 344px;
    }
    
    .backroundImg{
        max-width: 344px;
    }

    .bigImgBlock{
        max-width: 344px;
        height: 111px;
        object-fit: cover;
    }

    .backroundBigImg{
        max-width: 344px;
        height: 111px;
        object-fit: cover;
    }
}